/* Meaning of the string arguments */
/*  %1 - text color */
/*  %2 - text highlight color */
/*  %3 - highlight color */
/*  %4 - window color */
/*  %5 - light color */
/*  %6 - dark color */


/**************************/
/**** Equation Title ********/
/**************************/
QLineEdit#equationTitleWidget
{ 
background-color: %4;
border:0px solid %6;
color: %3;
padding:3px;
}

QLineEdit#equationTitleWidget:hover
{
background-color: %4;
border:1px solid %3;
color: %3;
}

QLineEdit#equationTitleWidget:focus
{
background-color: white;
border:1px solid %6;
color: %1;
}

/**********************/
/**** Global CSS *******/
/**********************/
/*
QSplitter::handle
{
background-color: %6;
}

QSplitter::handle:hover
{
background-color: %3;
}

QMainWindow::separator
{
width: 2px; height: 2px;
background-color: %6;
}

QMainWindow::separator:hover
{
width: 2px; height: 1px;
background-color: %3;
}
*/

/****************************/
/**** Templates Panel *******/
/***************************/

QToolBar#templatesBar QWidget{
background-color: rgb(237, 237, 237);
}

 QToolBar#templatesBar QTabWidget::pane { /* The tab widget frame */
 border-top: 1px solid #C2C7CB;
 background-color: red;
 }

 QToolBar#templatesBar QTabWidget::tab-bar {
 left: 10px; /* move to the right by 5px */
 background-color: blue;
 }

 /* Style the tab using the tab sub-control. Note that
 it reads QTabBar _not_ QTabWidget */
 QToolBar#templatesBar QTabBar::tab{
 min-width: 8ex;
 padding: 2px;
 padding-top:5px;
 border-color: #9B9B9B;
 border: 1px solid #C4C4C3;
 border-bottom-color: #C2C7CB; /* same as pane color */
 }

 QToolBar#templatesBar QTabBar::tab:selected {
 background-color: white;
  border-bottom-color: #C2C7CB; /* same as the pane color */
 }

QToolBar#templatesBar QTabBar::tab:hover {
background-color: white;
border-bottom-color: #C2C7CB; /* same as the pane color */
}

 QToolBar#templatesBar QTabBar::tab:!selected{
 background-color: #EDEDED;
 }


QToolBar#templatesBar QPushButton
{
color: rgb(0, 0, 0);
background-color: rgb(237, 237, 237);
border: 1px solid rgb(182,182,182);
padding: 5px;
}

QToolBar#templatesBar QPushButton:hover
{
color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
padding: 5px;
}

QToolBar#templatesBar QPushButton:pressed
{
color: rgb(0, 0, 0);
background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(142, 142, 142, 255), stop:1 rgba(230, 230, 230, 255));
padding: 5px;
}
